.navBackground {
    background: #926f34;    
}

.navbar a {
    color: white !important;
}

.btn {
    background: #355c7d;
    color: white;
    border: none;
}

/**
 * ALL the UI design credit goes to:
 * https://www.sketchappsources.com/free-source/2676-calendar-template-sketch-freebie-resource.html
 */


/* WRAPPER */

.wrapper {
    width: 100%; /* unnecessary, but let's keep things consistent */
}
  
/* MAIN */

.toolbar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 20px;
    text-align: center;
}

.current-month {
    padding-top: 5px;
}

.calendar__week, .calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
}

.calendar__week {
    grid-auto-rows: 135px;
    text-align: center;
}
  
.calendar__header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
    font-weight: normal;
}
  
.calendar__day {
    padding: 16px;
}

.display-4 {
    color: white !important;
}
  
/* COSMETIC STYLING */
  
:root {
    --red: #ED5454;
}
  
body {
    font-family: Montserrat;
    font-weight: 100;
    color: #A8B2B9;
}
  
main {
    background: transparent;
    height: 725px;
}
  
.avatar__name {
    font-size: 0.8rem;
}
  
.menu__item {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 16px 16px 16px 14px;
    border-left: 4px solid transparent;
    color: inherit;
    text-decoration: none;
    transition: color ease 0.3s;
}
  
.menu__item--active .menu__icon {
    color: var(--red);
}

.menu__item--active .menu__text {
    color: black;
}
  
.menu__item:hover {
    color: black;
}
 
.menu__icon {
    font-size: 1.3rem;
}
  
@media screen and (min-width: 850px) {
    .menu__icon {
        font-size: 0.9rem;
        padding-right: 16px;      
    }

    .menu__item--active {
        border-left: 4px solid var(--red);
        box-shadow: inset 10px 0px 17px -13px var(--red);
    }
}
  
.copyright {
    font-size: 0.7rem;
    font-weight: 400;
}
  
.calendar {
    background: #355b7d7a;    
    border: 1px solid #355c7d;
    color: white;
}
  
.calendar__header > div {
    text-transform: uppercase;    
}
  
.calendar__day {
    border-right: 1px solid #1a4163;
    border-top: 1px solid #1a4163;
}
  
.calendar__day:last-child {
    border-right: 0;
}
  
.toggle{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    text-align: center;
    font-size: 0.9em;
}

.toggle__option{
    padding: 16px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    text-transform: capitalize;
    cursor: pointer;
}

.toggle__option:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
}

.toggle__option:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
}

.toggle__option--selected {
    border-color: white;
    background-color: white;
    color: var(--red);
    font-weight: 500;
    box-shadow: 1px 2px 30px -5px var(--red);
}