<nav class="navbar navbar-expand-lg navBackground">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="calendarContainer">
  <div class="wrapper">
    <main>
      <div class="toolbar">        
        <div class="current-month display-4">Add Get Month Here</div>        
      </div>
      <div class="calendar">
        <div class="calendar__header lead">
          <div>mon</div>
          <div>tue</div>
          <div>wed</div>
          <div>thu</div>
          <div>fri</div>
          <div>sat</div>
          <div>sun</div>
        </div>
        <div class="calendar__week">
          <div class="calendar__day day">1</div>
          <div class="calendar__day day">2</div>
          <div class="calendar__day day">3</div>
          <div class="calendar__day day">4</div>
          <div class="calendar__day day">5</div>
          <div class="calendar__day day">6</div>
          <div class="calendar__day day">7</div>
        </div>
        <div class="calendar__week">
          <div class="calendar__day day">8</div>
          <div class="calendar__day day">9</div>
          <div class="calendar__day day">10</div>
          <div class="calendar__day day">11</div>
          <div class="calendar__day day">12</div>
          <div class="calendar__day day">13</div>
          <div class="calendar__day day">14</div>        
        </div>
        <div class="calendar__week">
          <div class="calendar__day day">15</div>
          <div class="calendar__day day">16</div>
          <div class="calendar__day day">17</div>
          <div class="calendar__day day">18</div>
          <div class="calendar__day day">19</div>
          <div class="calendar__day day">20</div>
          <div class="calendar__day day">21</div>    
        </div>
        <div class="calendar__week">
          <div class="calendar__day day">22</div>
          <div class="calendar__day day">23</div>
          <div class="calendar__day day">24</div>
          <div class="calendar__day day">25</div>
          <div class="calendar__day day">26</div> 
          <div class="calendar__day day">27</div> 
          <div class="calendar__day day">28</div> 
        </div>
        <div class="calendar__week">
          <div class="calendar__day day">29</div>
          <div class="calendar__day day">30</div>
          <div class="calendar__day day">31</div>
          <div class="calendar__day day"></div>
          <div class="calendar__day day"></div>
          <div class="calendar__day day"></div>
          <div class="calendar__day day"></div>
        </div>
      </div>
    </main>    
  </div>
</div>