<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Create Appointment</h1>        
    </div>
</div>

<div class="form-container">
    <form>
        <input type="text" id="name" name="name" placeholder="Name"><br>
        <input type="text" id="technician" name="technician" placeholder="Technician"><br><br>        
        <input type="checkbox">
        <span class="checkmark"></span>
        <label for="vehicle1" id="item1"> Item 1</label><br>
        <input type="checkbox">
        <span class="checkmark"></span>
        <label for="vehicle2" id="item2"> Item 2</label><br>
        <input type="checkbox">
        <span class="checkmark"></span>
        <label for="vehicle3" id="item3"> Item 3</label><br>
        <input type="submit" value="Submit">
    </form>
</div>