<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Create Appointment</h1>        
    </div>
</div>

<form>
    <div class="form-group">
        <label for="custName">Customer Name</label>
        <input type="text" class="form-control" id="custName" placeholder="Customer's Name">
    </div>
    <div class="form-group">
        <label for="techName">Technician Name</label>
        <input type="text" class="form-control" id="techName" placeholder="Technician's Name">
    </div>
    <label>Equipment</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="laserCheck">        
        <label class="form-check-label" for="laserCheck">
            Laser            
        </label>        
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="lensCheck">        
        <label class="form-check-label" for="lensCheck">
            Lens
        </label>        
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="phacoCheck">        
        <label class="form-check-label" for="phacoCheck">
            Phaco
        </label>        
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="scopeCheck">        
        <label class="form-check-label" for="scopeCheck">
            Scope
        </label>       
    </div>
    <div class="form-group van">
        <label for="vanSelect">Van</label>
        <select class="form-control" id="vanSelect">
            <option>Long and Tall (10)</option>
            <option>Long and Tall (16 - Butler Van)</option>
            <option>Short and Tall</option>
            <option>Short and Tall (in CO)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="time">Time of Appointment</label>
        <input type="text" class="form-control" id="time" placeholder="00:00">
    </div>
</form>