.jumbotron {
    text-align: center;
    color: goldenrod;
    padding-bottom: 20px;
    background: transparent;
}

form {
    width: 700px;
    margin: auto;
    background: transparent;
}

label {
    font-size: 24px;
    color: goldenrod;
}

.form-check-label {
    font-size: 14px;
}

.equ-Checkbox{
    margin-right:10px;
}

td{
    padding-right:50px;
}

input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  background: #926f34;
  color: #fff;
  font-size: 18px;
}
