/* You can add global styles to this file, and also import other style files */

/* Imports for calendar*/
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* Provide sufficient contrast against white background */
body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(src/assets/dental-clinic-tools.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;

}

html, body {
  height: 100%;
}

.container {
  height: 100%;
}

.navBackground {
  background: #926f34;    
}

.navbar a {
  color: white !important;
}

.btn {
  background: #355c7d;
  color: white;
  border: none;
}

.fc-view-container {
  background: #355b7dcb;  
}

.fc-toolbar, .fc-header-toolbar {
  margin-bottom: 1em !important;
}

.fc-unthemed, .fc-today {
  background: transparent !important;
  border: 1px, solid, #926f34 !important;
}

td, thead, th {
  border: none !important;
}