<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">Surgical <span class="gold">Direct</span> Inc</h1>        
    </div>
</div>

<!--Taylor Initial Comment-->

<div class="login-container">
    <img src="assets/logo.png" alt="icon" class="icon">
    <h1>Log In</h1>
    <form>
        <p>Username</p>
        <input type="text" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" placeholder="Enter Password">
        <input type="submit" value="Login">
    </form>
</div>